<ion-header>
  <!-- <ion-toolbar>
    <ion-title style="text-align: center">
      Skull King Counter
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="row" style="text-align: center">
      <h1 class="title">Round: {{round}}</h1>
    </div>
    <div class="row">
      <ion-slides scrollbar="true" (ionSlideDidChange)="slideChanged()" (ionSlideReachStart)="getStart()"
        (ionSlideReachEnd)="getEnd()">
        <ion-slide *ngFor="let player of players">
          <div class="row">
            <div class="row">
              <img class="characterPlayable" src="../../assets/icon/icon1.jpeg">
            </div>
            <ion-title class="name" style="text-align: center">{{player.name}}</ion-title>
            <ion-title class="title2" style="text-align: center">Bet: {{player.bet}}</ion-title>
            <ion-title class="title2" style="text-align: center">Score: {{player.score}}</ion-title>
            <ion-title class="title2" style="text-align: center">Round Score: {{player.roundScore}}</ion-title>
            <ion-title class="title2" style="text-align: center">Extra: {{player.extraRoundScore}}</ion-title>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="row" style="margin-top:10%;margin-left:45%">
      <div class="row">
        <!-- <p style="text-align: center;margin-left:-85%">{{state}}</p> -->
      </div>
    </div>
    <div class="row">
      <ion-button *ngFor="let round of rounds" expand="" color="dark" (click)="changePlayer()">
        {{round}}
      </ion-button>
      <p>{{debug}}</p>
    </div>
  </div>
</ion-content>