ion-content {
  --keyboard-offset: 0px;
}

input {
  text-align: center;
  width: 30%;
  background: transparent;
}

.game-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.header-container {
  text-align: center;
  height: 10%;
}

.players-container {
  display: flex;
  width: 100%;
  height: 80%;
}

.state-container {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.set-points-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(181, 152, 54);
  position: absolute;
}

.modal {
  width: 50%;
  height: 50%;
}

.score-table-container {
  width: 100%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}

.score-table {
  border: 2px solid black;
}

.score-table td {
  border: 2px solid black;
  min-width: 100px;
}

.score-table tr {
  border: 2px solid black;
}

.score-table p {
  margin: 0;
  color: var(--text-color);
}

.round-play-section {
  min-width: 100px;
  display: flex;
  justify-content: center;
}
