<ion-content>
  <div style="position: absolute;margin-top: 5px; margin-left: 5px">
    <img src="/assets/icon/table_chart.svg" alt="score_table" (click)="showScoreTable = true">
  </div>

  <div class="game-container">
    <div class="header-container">
      <h1 class="title">Round: {{round}}</h1>
    </div>

    <div class="players-container">
      <div
        style="text-align: center"
        *ngFor="let player, let i = index of players"
        [ngClass]="showPlayer(i)?'show-player':'hide-player'"
      >
        <div>
          <img src="{{'assets/icon/' + player.skin + '.gif'}}" alt="">
        </div>

        <h1>{{player.name}}</h1>

        <p style="font-family: serif">Score: {{player.totalScore}}</p>

        <div class="state-container">

          <div class="input-container">
            <label for="betInput">Rounds Bet:</label>

            <input [(ngModel)]="player.bet" type="number" id="betInput"/>
          </div>

          <div class="input-container">
            <label for="pointsInput">Rounds Won: </label>

            <input [(ngModel)]="player.roundsWon" type="number" id="pointsInput"/>
          </div>

          <div class="input-container">
            <label for="extraPointsInput">Extra Points: </label>

            <input [(ngModel)]="player.extraPoints" type="number" id="extraPointsInput"/>

            <!-- TODO: place icons to add extra points -->

            <!--

            Posibilities:

              - mermaid kill pirate, max 6 ->
              - skullking kill pirate, max 6

          Result:

            -->
          </div>
        </div>
      </div>
    </div>

    <div class="controls">
      <button (click)="nextPlayer()" style="height: 50px; width: 50px;background-color: transparent">
        <img src="/assets/icon/prev.svg" alt="">
      </button>

      <button (click)="passRound()" [disabled]="round>10">
        <p>Next Round</p>
      </button>

      <button (click)="prevPlayer()" style="height: 50px; width: 50px;background-color: transparent">
        <img src="/assets/icon/next.svg" alt="">
      </button>
    </div>

    <div class="modal-container" *ngIf="showWinnerModal && winner != null">
      <div class="modal" (click)="showWinnerModal=false">
        <div>
          <img src="{{'assets/icon/' + winner.skin + '.gif'}}" alt="">
        </div>

        <h1>{{winner.name}} Wins!!!!</h1>
      </div>
    </div>

    <div class="modal-container" *ngIf="showScoreTable">
      <div
        style="width: 100%; height: 99%; display: flex; flex-direction: column; justify-content: flex-start; overflow: scroll"
        (click)="showScoreTable = false">

        <table style="height: 100%; border: 1px solid white">
          <!-- HEADERS  -->
          <tr style="border: 1px solid white">
            <td style="border: 1px solid white;min-width: 100px;">Ronda</td>

            <td *ngFor="let round of rounds" style="border: 1px solid white;min-width: 100px;">
              {{round}}
            </td>
          </tr>

          <!-- ROWS -->

          <tr *ngFor="let player of players" style="border: 1px solid white">
            <td>{{player.name}}</td>

            <td *ngFor="let round of player.scoreRound | keyvalue" style="border: 1px solid white">
              <div style="min-width: 100px; text-align: start; display: flex; justify-content: center">
                Bet: {{round.value.bet}}</div>

              <div style="min-width: 100px; text-align: start; display: flex; justify-content: center">
                Won: {{round.value.won}}</div>

              <div style="min-width: 100px; text-align: start; display: flex; justify-content: center">
                Extra: {{round.value.extra}}</div>

              <div
                style="min-width: 100px; text-align: start; display: flex; justify-content: center;border-top: 1px solid white">{{round.value.roundPoints}}</div>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</ion-content>
