<ion-content [fullscreen]="true">
  <div class="ion-padding border">
    <p style="text-align: center" class="title">
      Skull King Counter
    </p>

    <div class="row" style="text-align: center">
      <img class="logo" src="../../assets/icon/skull.gif" alt="">
    </div>

    <div class="row" style="margin-top:3%;">
      <ion-input label="" type="number" [value]="numPlayers" (ionChange)="updateNumPlayers($event)">
        <p style="margin-left: 23%">Number of Players </p>
      </ion-input>

      <p class="error-message" *ngIf="wrongNumPlayers">Invalid number of players <br> You need at least 2</p>
    </div>

    <div class="row" style="text-align: center" (click)="start()">
      <img src="../../assets/icon/continuar.gif" alt="">
    </div>
  </div>
</ion-content>
