ion-content {
  --background: url("/assets/icon/fondo_menu.png");
  --background-size: fill;
  font-family: wanted-font;
}

ion-input {
  font-family: wanted-font;
  margin-top: 4%;
  color: var(--text-color);
}

ion-button {
  background-color: rgba(92, 53, 6, 0.24);
  color: rgb(85, 69, 49);
}

.error-message {
  font-size: 10px;
  text-align: center;
  color: rgb(85, 62, 49);
}

.title {
  font-family: wanted-font;
  margin-top: 3%;
  font-size: 40px;
  color: var(--text-color);
}

img {
  max-width: 70%;
  max-height: 70%;
  background-size: cover;
}

.logo {
  max-width: 110%;
  max-height: 110%;
}
