ion-content {
    --background: url('./img/fondo_menu.png');
    --background-size: fill;
    font-family: wanted-font;
}
ion-input{
  font-family: wanted-font;
  margin-top: 4%;
  color: rgb(92, 53, 6);
}

ion-button{
  background-color: rgba(92, 53, 6, 0.24);
  color: rgb(85, 69, 49);
}

.title{
  font-family: wanted-font;
  margin-top: 3%;
  color: rgb(92, 53, 6);
  font-size: 40px;
}

img{
  max-width: 70%;
  max-height: 70%;
  background-size: cover;
}

.logo{
  max-width: 110%;
  max-height: 110%;
}

@font-face {
  font-family: wanted-font;
  src: url(../../fonts/dirtyoldtown.ttf);
}