<ion-header>
</ion-header>

<ion-content fullscrean="true">
  <div class="ion-padding border">
    <p style="text-align: center" class="title">
      Skull King Counter
    </p>
    <div class="row" style="text-align: center">
      <img src="../../assets/icon/skull.jpg" alt="">
    </div>
    <div class="row" style="margin-top:3%;">
      <ion-input id="numPlayers" expand="full" type="number" placeholder=0>
        <p style="margin-left: 23%">Number of Players </p>
      </ion-input>
    </div>
    <div class="row">
      <ion-button expand="full" (click)="start()">Start</ion-button>
    </div>
  </div>
</ion-content>